#root {
  width: 80%;
  margin: 0 auto;
}

.card {
  width: 100%;
}

.main_form {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}

.main_form *:hover,
.main_form *:focus,
.main_form *:focus-visible,
.main_form *:active {
  border-color: blanchedalmond;
}

.search-teaxtarea {
  width: 100%;
  color: black;
  font-size: 100%;
  font-family: Arial;
  font-size-adjust: auto;
  background: linear-gradient(to right, pink, magenta);
  border-color: antiquewhite;
  border-radius: 3%;
  margin: 0, auto;
  height: 2em;
  padding-left: 2%;
}

.search-submit {
  width: 5%;
  background-color: lightgreen;
  border-color: beige;
}
