html {
  min-width: 1500px;
}

#root {
  width: 80%;
  margin: 0 auto;
}

* {
  font-size: large;
}

p, label, span, input, textarea, button, td, h1, h2, h3, h4, h5, h6 {
  color: black;
}

input, textarea {
  background-color: #fff9ea;
}

a, a * {
  color: #5e58cc !important;
}

a:hover, a:hover * {
  color: #a558c9 !important;
}

.card {
  width: 100%;
}

.main_form {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}

.main_form *:hover,
.main_form *:focus,
.main_form *:focus-visible,
.main_form *:active {
  border-color: blanchedalmond;
}

.search-teaxtarea {
  width: 100%;
  color: black;
  font-size: 100%;
  font-family: Arial;
  font-size-adjust: auto;
  background: linear-gradient(to right, rgb(218, 214, 249), rgb(254, 204, 254));
  border-color: rgb(79, 76, 74);
  border-radius: 3%;
  margin: 0, auto;
  height: 2em;
  padding-left: 2%;
}

table {
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

/* table start */

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

/* table ends */