# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go test and build

on:
  push:
    branches: [ "main" ]
    paths:
    - "backend/admin/**"
    - ".github/workflows/backed-go.yml"

  pull_request:
    branches: [ "main" ]
    paths:
    - "backend/admin/**"
    - ".github/workflows/backed-go.yml"

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Build
      run: cd backend/admin && go build -v ./...

    - name: Test
      run: cd backend/admin && go test -v ./...
